<h1>Multiplication</h1>

<form action="/wizard_add">
  <label for="alice">First number</label>
  <input id="alice" name="first_num">

  <label for="bob">Second number</label>
  <input id="bob" name="second_num">

  <button>Click me</button>
</form>
